*, *::before, *::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	
}
:focus, :active, a:focus, a:active {
	outline: none;
}
html, body {
	height: 100%;
	font-size: 100%;
}
a, input, textarea, button {
	color: inherit;
}
a, a:hover, a:visited {
	text-decoration: none;
}
button {
	cursor: pointer;
}
h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: inherit;
}