@media (max-width:1079px) {
    #rtDesktopNav {
        display: none !important
    }

    #rtMobileNav {
        display: block !important
    }

    .rtBody {
        flex-direction: column-reverse !important;
        align-items: normal !important
    }

    #rtPlus,
    #rtMinus {
        display: none !important
    }
}

a,
a:hover,
a:active {
    text-decoration: none !important
}

.conteiner3,
.conteiner {
    overflow: visible;
    display: flow-root;
}

.sidebar,
.body__sidebar,
.dle-speedbar,
#dle-speedbar,
#yandex_rtb_R-A-1617534-9,
#yandex_rtb_C-A-1617534-10 {
    display: none !important
}

.news__footer,
.news__footer--full,
.news__related,
.relatednews,
.related-news,
.comment-new,
.forum__last-messages,
.comments-tree-list,
#dle-comments-form {
    max-width: 860px;
}

.content {
    width: auto;
    margin-right: 7px;
    float: none;
}

p,
div {
    margin: 0;
    padding: 0
}

.rtBody {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    align-items: flex-start;
    font: 13pt "Arimo"
}

.rtNav {
    position: sticky;
    top: 20px;
    padding: 20px;
    border-radius: 15px;
    min-width: 270px;
    max-height: calc(100vh - 40px);
    overflow: hidden
}

#rtMobileNav {
    display: none;
    position: static;
    max-height: none
}

.rtNavContent {
    max-height: calc(100vh - 138px);
    overflow-y: auto
}

#rtMobileNav .rtNavContent,
#rtMobileNav .rtNavContent {
    max-height: none;
    overflow: visible;
    overflow-y: visible
}

body:has(.navbar-wrapper) .rtNav {
    top: 72px;
    max-height: calc(100vh - 92px)
}

body:has(.topmenu-wrapper) .rtNav {
    top: 55px;
    max-height: calc(100vh - 75px)
}

body:has(.navbar-wrapper) .rtNavContent {
    max-height: calc(100vh - 190px)
}

body:has(.topmenu-wrapper) .rtNavContent {
    max-height: calc(100vh - 173px)
}

.rtNavContent>* {
    margin: 0 0 5px 0
}

.rtNavContent>p:last-child {
    margin: 0
}

.rtNavContent {
    scrollbar-width: none
}

.rtNavContent::-webkit-scrollbar {
    display: none
}

.rtNavTitle {
    font-weight: 900;
    font-size: 24pt;
    margin: 0 0 10px 0
}

.rtNavSubLink {
    padding: 0 0 0 20px
}

.rtNavSub2Link {
    padding: 0 0 0 40px
}

.rtNavLink,
.rtNavSubLink,
.rtNavSub2Link {
    max-width: 1500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: .5s
}

.rtNavLink:hover,
.rtNavSubLink:hover,
.rtNavSub2Link:hover {
    white-space: normal
}

.rtNav a {
    color: #000000 !important;
    font-weight: normal !important;
    text-decoration: none !important
}

.rtNav a:hover {
    color: #424242 !important
}

.rtNavSpoiler2>* {
    margin: 5px 0 0 0
}

.rtNavSpoiler2 *:first-child {
    margin: 0
}

.rtNavSpoilerTitle2 {
    list-style: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

.rtNavSpoilerTitle2::-webkit-details-marker {
    display: none
}

.rtNavSpoilerTitle2 .rtMinus2 {
    display: none
}

.rtNavSpoiler2[open] .rtMinus2 {
    display: inline
}

.rtNavSpoiler2[open] .rtPlus2 {
    display: none
}

[id] {
    scroll-margin-top: 52px
}

.rtBorder {
    border: 5px dashed #ffbc6b;
    background: #ffe6b5;
    border-radius: 15px
}

.rtPreview {
    background-image: url("https://ru-minecraft.ru/uploads/posts/2026-01/1768673346_rumine_times_preview.png");
    background-size: cover;
    text-align: center;
    padding: 100px 20px 100px 20px;
    margin: 0 0 20px 0
}

.rtPreviewTitle {
    font-weight: 900;
    font-size: 33pt
}

.rtPreviewSubtext {
    margin: 10px 0 0 0
}

.rtH1 {
    padding: 20px;
    margin: 0 0 20px 0
}

.rtH1Title {
    font-size: 24pt;
    font-weight: 900
}

.rtH1Subtext {
    margin: 10px 0 0 0
}

.rtH2 {
    font-size: 18pt;
    font-weight: 900;
    margin: 0 0 20px 0
}

.rtH3 {
    font-size: 15pt;
    font-weight: 900;
    margin: 0 0 10px 0
}

.rtH1,
.rtH2,
.rtH3,
.rtNav,
.rtPreview,
.rtFooter {
    font-family: "Comic Sans MS"
}

.rtText {
    margin: 0 0 10px 0
}

.rtBlock {
    margin: 0 0 20px 0
}

.rtBlockBorder {
    padding: 0 0 0 20px;
    border-left: 5px solid #ffbc6b
}

.rtQuote {
    background: #ffffe0;
    border-radius: 15px;
    border: 3px solid #eaeab2;
    padding: 15px;
    margin: 0 0 10px 0
}

.rtQuote p:last-child {
    margin: 0
}

.rtQuoteAuthor {
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px
}

.rtQuoteAuthor img {
    max-width: 20px;
    height: 20px
}

.rtRageFace {
    vertical-align: middle
}

.rtArt {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px
}

.rtArtEl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border-radius: 15px;
    border: 3px solid #dbdbdb;
    background-color: #f4f4f4;
    font-weight: 400 !important;
    color: #000000 !important;
    transition: .1s !important
}

.rtArtEl:hover {
    background-color: #e5e5e5;
    border-color: #c6c6c6;
    color: #000000 !important
}

.rtArtEl:active {
    transform: translateY(3px)
}

.rtArtEl img {
    max-height: 128px;
    max-width: 128px;
    border-radius: 10px;
    border: 3px solid #dbdbdb;
    transition: .1s !important
}

.rtArtEl:hover img {
    border-color: #c6c6c6
}

.rtArtAuthor {
    font-weight: 600 !important
}

.rtPainting {
    width: 100%;
    border-radius: 15px;
    margin: 0 0 10px 0
}

.rtInterviewer {
    font-weight: 600
}

.rtAnswer {
    color: #F4F4F4;
    background: #F4F4F4;
    transition-duration: .5s
}

.rtAnswer:hover {
    color: black;
    background: none;
    transition-duration: .5s
}

.rtFooter {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px
}

.rtFooterEl {
    display: block;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    border: 3px solid #dbdbdb;
    background-color: #f4f4f4;
    font-size: 18pt;
    font-weight: 900 !important;
    color: #000000 !important;
    transition: .1s !important
}

.rtFooterEl:hover {
    background-color: #e5e5e5;
    border-color: #c6c6c6;
    color: #000000 !important
}

.rtFooterEl:active {
    transform: translateY(3px)
}

img[alt="«RuMine Times: RE»: первый выпуск первого сезона от 15 января 2022"] {
    float: right;
    margin: 0 0 10px 10px
}

.rtClear {
    clear: both
}

.rtNavFw {
    display: flex;
    justify-content: space-between
}